@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0d0d0f;
  color: #f0eff4;
  font-family: 'Sora', sans-serif;
}